<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Happy Hiking</title>
</head>
<body>
  <h1>Benefits of Hiking</h1>
  <ul>
  <li>Exercise helps keep your body in the best shape possible</li>
  <li>Spending time in nature is shown to lower stress levels, as well as life overall mood
  <li>Helps maintain a healthy heart</li>
  </ul>
</body>
</html>