.trail-container {
    border: rgb(36, 116, 248) solid 2px;
    padding: 5px 35px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: white;
}

a, p, h1, h2, h3 {
    text-decoration: none;
    font-family: 'Hina Mincho', serif;
}

.photo-form {
    border: 1px solid black;
    margin: 2vh 0 2vh 0;
}
.reviews-container{
    margin: 1vh 0 1vh 0;
    border: 2px solid orange;
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.user-reviews {
    margin: 40px;
}

th {
    align-items: left;
}
.btn {
    
    padding: 2px 8px;
    border-radius: 6px;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Hina Mincho', serif;
    margin: 4px 2px;
    border-radius: 16px;
  }
  